<nav class="blue darken-1">
	<div class="nav-wrapper">
		<div class="container">
			<div class="container-left">
				<a href="#/overview">
					 Overview 
				</a> |
				<a href="#/sites">
					 Sites 
				</a> | 
				<a ui-sref-active="activeLink" ui-sref="user">
					 Users
				</a> |
				<a href="#/payments">
					 Payment and Credits
				</a>
			</div>

			<div class="container-right">
				<a ui-sref="logout">
					<i class="material-icons">power_settings_new</i>
				</a>

				<a ui-sref="profile">
					<i class="material-icons">assignment_ind</i>
				</a> 
				
			</div>
		</div>
	</div>
</nav>

<div class="clear"></div>