<div class="msg-error" style="{{userForm.error_msg? '' :'display:none' }}">{{ userForm.error_msg }}</div>
<div class="msg-success" style="{{userForm.success_msg? '' :'display:none' }}">{{ userForm.success_msg }}</div>
<form name="form_user" ng-submit="userForm.submit()">
    
   <div class="row">
      <div class="col s12">
      	<input type="text" name="text" required ng-model="userForm.formModel.first_name" placeholder="Type your first name" />
      </div>
   </div>
   
   <div class="row">
      <div class="col s12">
         <input type="text" name="text" required ng-model="userForm.formModel.last_name" placeholder="Type your last name" />
      </div>
   </div>

   <div class="row">
      <div class="col s12">
         <input type="submit" id="submit" value="Submit" class="btn " />
         </div>
   </div>
</form>